body {
  margin: 0px;
}

canvas {
  background-image: url("https://as1.ftcdn.net/v2/jpg/01/47/53/28/1000_F_147532870_PmZnovYCoXgdfLaWyPbXmY4584bz6fbL.jpg");
  background-size: 1500px;
  margin: 20px;
}

img {
  display: none;
}

