body {
  margin: 0px;
}

canvas {
  background-image: url("https://media.tenor.com/5uRp7IWhBOsAAAAM/cat-eating-chips-windows-xp-meme.gif");
  background-size: 1500px;
  margin: 20px;
}

img {
  display: none;
}
